body {
    font-size: 250%;
    background-color: rgb(238, 238, 181);
}

section {
    margin: 50px;
    color: blue;

}

h1 {
            font-size: 200%;

}

h2 {
    text-align: center;
}

.contenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p {
    width: 100%;
    background-color: burlywood;
    border-radius: 10px;
    text-align: center;
    text-transform: none;



}

ul {
    list-style-type: none;
}

button {
    margin: 10px;
    border-radius: 5px;
    min-width: 150px;
    min-height: 35px;
    background-color: salmon;
    text-align: center;
    text-decoration: none;



}

button:hover {
    margin: 10px;
    border-radius: 5px;
    min-width: 150px;
    min-height: 35px;
    background-color: rgba(250, 128, 114, 0.192);
    text-align: center;
    text-decoration: none;




}

h3 {
    margin-top: 5rem;
    margin-left: 20px;
    text-decoration: underline;
}

.bouttons {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    display: flex;
    /* Cette valeur peut être changée dans l'exemple */
    justify-content: space-between;
}